:root{
    --color1: #b0b0b0;
    --color2: #797979;
    --textColor: #000;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Lexend Giga", serif;
    color: var(--textColor);
}
body{
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4b4b4b, #2a2a2a);
}
.button{
    width: 60%;
    height: 8%;
    cursor: pointer;
    margin: 2% 0;
    padding: 5%;
    background-color: var(--color2);
    border-radius: 40px;

    /* Text alignment */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
.button:hover{
    transform: translateY(-7px);
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.75); /* x-offset, y-offset, blur, color */
}
#menu, #start, #difficulty, #settings, #rules{
    margin-top: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu, #start, #difficulty, #settings, #rules{
    flex-direction: column;
}

.text{
    margin: 5%;
    font-size: large;
}
.menuContainer{
    width: 400px;
    height: auto;
    background-color: var(--color1);
    padding: 5%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.sliderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    height: 8px;
    background: #000000;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}

/* Styles when hovering over the slider */
.slider:hover {
    background: #bbb;
}

/* Custom Thumb Style */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}